In [1]:
import pandas as pd

In [2]:
vine_table = pd.read_csv("vine_table.csv")
vine_table.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R28HBXXO1UEVJT,5.0,0.0,0.0,N,N
1,RZKRFS2UUMFFU,5.0,15.0,15.0,N,Y
2,R2WAU9MD9K6JQA,3.0,6.0,8.0,N,N
3,R36SCTKYTVPZPC,5.0,10.0,11.0,N,Y
4,R10BM6JUOJX27Q,3.0,0.0,0.0,Y,N

In [7]:
total_votes_df = vine_table[vine_table["total_votes"] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,R18VIM840CEFRP,1.0,16.0,105.0,N,N
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
76,RW00TDPV9U93E,1.0,35.0,76.0,N,N

In [9]:
fif_votes_df = total_votes_df[(total_votes_df["helpful_votes"]/total_votes_df["total_votes"]) >= 0.5]
fif_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
79,R3OW0AIVLEDIQ7,3.0,99.0,121.0,N,N
91,R3DTESO4FUAPKQ,5.0,90.0,102.0,N,N

In [12]:
ver_y_df = fif_votes_df[fif_votes_df["vine"] == "Y"]
ver_y_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
726,R2Z8083V8ZFQVZ,3.0,82.0,87.0,Y,N
1383,RK25TAO4GGS5G,3.0,22.0,24.0,Y,N
1552,R2SJQG3C6KY0M8,3.0,18.0,20.0,Y,N
3385,R12CHC0CB2WASU,5.0,43.0,48.0,Y,N
3942,R2RY328TIDXMTE,2.0,50.0,61.0,Y,N

In [13]:
ver_n_df = fif_votes_df[fif_votes_df["vine"] == "N"]
ver_n_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
79,R3OW0AIVLEDIQ7,3.0,99.0,121.0,N,N
91,R3DTESO4FUAPKQ,5.0,90.0,102.0,N,N

In [31]:
total_paied_reviews = ver_y_df["star_rating"].count()
number_stars_paied = ver_y_df["star_rating"][ver_y_df["star_rating"] == 5].count()
percent_paied_reviews = (number_stars_paied/total_paied_reviews)*100
print(f"total paied reviews:{total_paied_reviews}")
print(f"number of 5 stars for paied vine: {number_stars_paied}")
print(f"percentage of paied 5-star reviews:{percent_paied_reviews:.0f}%")

total_unpaied_reviews = ver_n_df["star_rating"].count()
number_stars_unpaied = ver_n_df["star_rating"][ver_n_df["star_rating"] == 5].count()
percent_unpaied_reviews = (number_stars_unpaied/total_unpaied_reviews)*100
print(f"total unpaied reviews:{total_unpaied_reviews}")
print(f"number of 5 stars for unpaied vine: {number_stars_unpaied}")
print(f"percentage of unpaied 5-star reviews:{percent_unpaied_reviews:.0f}%")

total paied reviews:4781
number of 5 stars for paied vine: 1604
percentage of paied 5-star reviews:34%
total unpaied reviews:332395
number of 5 stars for unpaied vine: 168800
percentage of unpaied 5-star reviews:51%